<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetColor</servlet-name>
        <servlet-class>servlets.GetColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAge</servlet-name>
        <servlet-class>servlets.GetAge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBankCard</servlet-name>
        <servlet-class>servlets.GetBankCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPIN</servlet-name>
        <servlet-class>servlets.GetPIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSNILS</servlet-name>
        <servlet-class>servlets.GetSNILS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetZvanie</servlet-name>
        <servlet-class>servlets.GetZvanie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ip</servlet-name>
        <servlet-class>servlets.GetIp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTime</servlet-name>
        <servlet-class>servlets.GetTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDate</servlet-name>
        <servlet-class>servlets.GetDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSex</servlet-name>
        <servlet-class>servlets.GetSex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStreet</servlet-name>
        <servlet-class>servlets.GetStreet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomString</servlet-name>
        <servlet-class>servlets.GetCustomString</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrganazeForma</servlet-name>
        <servlet-class>servlets.GetOrganazeForma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEducationQualif</servlet-name>
        <servlet-class>servlets.GetEducationQualif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBIK</servlet-name>
        <servlet-class>servlets.GetBIK</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDate</servlet-name>
        <url-pattern>/GetDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStreet</servlet-name>
        <url-pattern>/GetStreet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomString</servlet-name>
        <url-pattern>/GetCustomString</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrganazeForma</servlet-name>
        <url-pattern>/GetOrganazeForma</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLanguage</servlet-name>
        <servlet-class>servlets.GetLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastName</servlet-name>
        <servlet-class>servlets.GetLastName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetName</servlet-name>
        <servlet-class>servlets.GetName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatronymic</servlet-name>
        <servlet-class>servlets.GetPatronymic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFIO</servlet-name>
        <servlet-class>servlets.GetFIO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccount</servlet-name>
        <servlet-class>servlets.GetAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPhoneNumber</servlet-name>
        <servlet-class>servlets.GetPhoneNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmail</servlet-name>
        <servlet-class>servlets.GetEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCountry</servlet-name>
        <servlet-class>servlets.GetCountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBankName</servlet-name>
        <servlet-class>servlets.GetBankName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaritalStatus</servlet-name>
        <servlet-class>servlets.GetMaritalStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRelationDegree</servlet-name>
        <servlet-class>servlets.GetRelationDegree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCity</servlet-name>
        <servlet-class>servlets.GetCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStreetType</servlet-name>
        <servlet-class>servlets.GetStreetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetINN</servlet-name>
        <servlet-class>servlets.GetINN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegion</servlet-name>
        <servlet-class>servlets.GetRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNatioanl</servlet-name>
        <servlet-class>servlets.GetNational</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCitizenship</servlet-name>
        <servlet-class>servlets.GetCitizenship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEducationStatus</servlet-name>
        <servlet-class>servlets.GetEducationStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTypeLocality</servlet-name>
        <servlet-class>servlets.GetTypeLocality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCvv</servlet-name>
        <servlet-class>servlets.GetCvv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMarkTC</servlet-name>
        <servlet-class>servlets.GetMarkTC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFormTC</servlet-name>
        <servlet-class>servlets.GetFormTC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPropertyType</servlet-name>
        <servlet-class>servlets.GetPropertyType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWorship</servlet-name>
        <servlet-class>servlets.GetWorship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPropertyRights</servlet-name>
        <servlet-class>servlets.GetPropertyRights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaterialWall</servlet-name>
        <servlet-class>servlets.GetMaterialWall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStateApartment</servlet-name>
        <servlet-class>servlets.GetStateApartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMetal</servlet-name>
        <servlet-class>servlets.getMetal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTypeBankCard</servlet-name>
        <servlet-class>servlets.GetTypeBankCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRandomUnit</servlet-name>
        <servlet-class>servlets.GetRandomUnit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLivingRight</servlet-name>
        <servlet-class>servlets.GetLivingRight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointment</servlet-name>
        <servlet-class>servlets.GetAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTypeDoc</servlet-name>
        <servlet-class>servlets.GetTypeDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetContractor</servlet-name>
        <servlet-class>servlets.GetContractor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRandomSerialNumberPasport</servlet-name>
        <servlet-class>servlets.GetRandomSerialNumberPasport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOGRN</servlet-name>
        <servlet-class>servlets.GetOGRN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRandomZagranPasport</servlet-name>
        <servlet-class>servlets.GetRandomZagranPasport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKpp</servlet-name>
        <servlet-class>servlets.GetKpp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCadastr</servlet-name>
        <servlet-class>servlets.GetCadastr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKemVidan</servlet-name>
        <servlet-class>servlets.GetKemVidan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKoment</servlet-name>
        <servlet-class>servlets.GetKoment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKodPodrazdelenia</servlet-name>
        <servlet-class>servlets.GetKodPodrazdelenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOGRNWithParametrs</servlet-name>
        <servlet-class>servlets.GetOGRNWithParametrs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDrivePas</servlet-name>
        <servlet-class>servlets.GetDrivePas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOKPO</servlet-name>
        <servlet-class>servlets.GetOKPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWorkBook</servlet-name>
        <servlet-class>servlets.GetWorkBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOption</servlet-name>
        <servlet-class>servlets.GetOption</servlet-class>
        <url-pattern>servlets.GetOption</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>GetRegisterNumTC</servlet-name>
        <servlet-class>servlets.GetRegisterNumTC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBC</servlet-name>
        <servlet-class>servlets.GetBC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIndex</servlet-name>
        <servlet-class>servlets.GetIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetColor</servlet-name>
        <url-pattern>/GetColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBC</servlet-name>
        <url-pattern>/GetBC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIndex</servlet-name>
        <url-pattern>/GetIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOption</servlet-name>
        <url-pattern>/GetOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAge</servlet-name>
        <url-pattern>/GetAge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBankCard</servlet-name>
        <url-pattern>/GetBankCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetZvanie</servlet-name>
        <url-pattern>/GetZvanie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ip</servlet-name>
        <url-pattern>/GetIp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTime</servlet-name>
        <url-pattern>/GetTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLanguage</servlet-name>
        <url-pattern>/GetLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPIN</servlet-name>
        <url-pattern>/GetPIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSNILS</servlet-name>
        <url-pattern>/GetSNILS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastName</servlet-name>
        <url-pattern>/GetLastName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetName</servlet-name>
        <url-pattern>/GetName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPatronymic</servlet-name>
        <url-pattern>/GetPatronymic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFIO</servlet-name>
        <url-pattern>/GetFIO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccount</servlet-name>
        <url-pattern>/GetAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBankName</servlet-name>
        <url-pattern>/GetBankName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaritalStatus</servlet-name>
        <url-pattern>/GetMaritalStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRelationDegree</servlet-name>
        <url-pattern>/GetRelationDegree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCity</servlet-name>
        <url-pattern>/GetCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStreetType</servlet-name>
        <url-pattern>/GetStreetType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetINN</servlet-name>
        <url-pattern>/GetINN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegion</servlet-name>
        <url-pattern>/GetRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPhoneNumber</servlet-name>
        <url-pattern>/GetPhoneNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmail</servlet-name>
        <url-pattern>/GetEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCountry</servlet-name>
        <url-pattern>/GetCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNatioanl</servlet-name>
        <url-pattern>/GetNational</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCitizenship</servlet-name>
        <url-pattern>/GetCitizenship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEducationStatus</servlet-name>
        <url-pattern>/GetEducationStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTypeLocality</servlet-name>
        <url-pattern>/GetTypeLocality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCvv</servlet-name>
        <url-pattern>/GetCvv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMarkTC</servlet-name>
        <url-pattern>/GetMarkTC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFormTC</servlet-name>
        <url-pattern>/GetFormTC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPropertyType</servlet-name>
        <url-pattern>/GetPropertyType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWorship</servlet-name>
        <url-pattern>/GetWorship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPropertyRights</servlet-name>
        <url-pattern>/GetPropertyRights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaterialWall</servlet-name>
        <url-pattern>/GetMaterialWall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStateApartment</servlet-name>
        <url-pattern>/GetStateApartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMetal</servlet-name>
        <url-pattern>/getMetal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTypeBankCard</servlet-name>
        <url-pattern>/GetTypeBankCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRandomUnit</servlet-name>
        <url-pattern>/GetRandomUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLivingRight</servlet-name>
        <url-pattern>/GetLivingRight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointment</servlet-name>
        <url-pattern>/GetAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTypeDoc</servlet-name>
        <url-pattern>/GetTypeDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetContractor</servlet-name>
        <url-pattern>/GetContractor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRandomSerialNumberPasport</servlet-name>
        <url-pattern>/GetRandomSerialNumberPasport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOGRN</servlet-name>
        <url-pattern>/GetOGRN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRandomZagranPasport</servlet-name>
        <url-pattern>/GetRandomZagranPasport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKpp</servlet-name>
        <url-pattern>/GetKpp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCadastr</servlet-name>
        <url-pattern>/GetCadastr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKemVidan</servlet-name>
        <url-pattern>/GetKemVidan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKoment</servlet-name>
        <url-pattern>/GetKoment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKodPodrazdelenia</servlet-name>
        <url-pattern>/GetKodPodrazdelenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOGRNWithParametrs</servlet-name>
        <url-pattern>/GetOGRNWithParametrs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDrivePas</servlet-name>
        <url-pattern>/GetDrivePas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOKPO</servlet-name>
        <url-pattern>/GetOKPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWorkBook</servlet-name>
        <url-pattern>/GetWorkBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegisterNumTC</servlet-name>
        <url-pattern>/GetRegisterNumTC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSex</servlet-name>
        <url-pattern>/GetSex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEducationQualif</servlet-name>
        <url-pattern>/GetEducationQualif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBIK</servlet-name>
        <url-pattern>/GetBIK</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
